@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--LightGrayishBlue);
}

.container{
    width: 500px;
    background-color: var(--White);
    padding: 50px;
    margin: 40px auto;
}

.prices{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label{
    width: 70px;
    height: 35px;
    margin: 20px;
    border-radius: 50px;
    background-color: var(--PaleBlue);
    position: relative;
    cursor: pointer;
}

label::before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.5s ease;
}
  
label.active::before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 40px;  
}
  
/* label.active{
    background-image: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
} */

.perMnths{
    font-size: .8rem;
}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root{
    /* Primary */
    --SoftCyan: hsl(174, 77%, 80%);
    --StrongCyan: hsl(174, 86%, 45%);
    --LightGrayishRed: hsl(14, 92%, 95%);
    --LightRed: hsl(15, 100%, 70%);
    --PaleBlue: hsl(226, 100%, 87%);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --VeryPaleBlue: hsl(230, 100%, 99%);
    --LightGrayishBlue: hsl(224, 65%, 95%);
    --LightGrayishBlue: hsl(223, 50%, 87%);
    --GrayishBlue: hsl(225, 20%, 60%);
    --DarkDesaturatedBlue: hsl(227, 35%, 25%);
}