@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--VeryPaleBlue);
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    width: 500px;
    background-color: var(--White);
    padding: 50px;
    margin: 40px auto;
}

.prices{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label{
    width: 50px;
    height: 25px;
    margin: 20px;
    border-radius: 50px;
    background-color: var(--LightGrayishBlue);
    position: relative;
    cursor: pointer;
}

label::before{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.5s ease;
}
  
label.active::before{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 30px;  
}
  
label.active{
    background-color: var(--SoftCyan);
}

.perMnths{
    font-size: .8rem;
}

.prices p{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: .8rem;
    color: var(--GrayishBlue);
}

.prices h1{
    font-weight: 800;
    font-size: 2.2rem;
}

.label{
    margin-left: 20px;
    background-color: var(--LightGrayishRed);
    padding: 7px;
    border-radius: 20px;
}

.label p{
    font-size: .5rem !important;
    color: var(--LightRed);
}

.prices h1 span{
    font-weight: 400;
}

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;

    /* creating a custom design */
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    outline: none;
    /* Styling the track */
    height: 5px;
    background: var(--SoftCyan);
}

input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;

    /* creating a custom design */
    height: 25px;
    width: 25px;
    background-color: var(--SoftCyan);
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: var(--StrongCyan);
}

.billing{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.daysBilling{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.billing .daysBilling p{
    font-size: .8rem;
}

li{
    list-style: none;
    font-size: .8rem;
    color: var(--GrayishBlue);
    margin-bottom: 10px;
}

li::before{
    content: url(./images/icon-check.svg);
    margin-right: 10px;
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto 0px;
}

.startTrial button{
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--DarkDesaturatedBlue);
    color: var(--LightGrayishBlue);
    font-size: .8rem;
    cursor: pointer;
}

.startTrial button:hover{
    color: var(--White);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root{
    /* Primary */
    --SoftCyan: hsl(174, 77%, 80%);
    --StrongCyan: hsl(174, 86%, 45%);
    --LightGrayishRed: hsl(14, 92%, 95%);
    --LightRed: hsl(15, 100%, 70%);
    --PaleBlue: hsl(226, 100%, 87%);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --VeryPaleBlue: hsl(230, 100%, 99%);
    --LightGrayishBlue: hsl(224, 65%, 95%);
    --LightGrayishBlue: hsl(223, 50%, 87%);
    --GrayishBlue: hsl(225, 20%, 60%);
    --DarkDesaturatedBlue: hsl(227, 35%, 25%);
}